#bloco{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px !important;
    margin-top: 50px;
}

#blog img{
    height: 250px;
    width: 350px !important;
    align-items: start;
    border-radius: 40px;
}

#blog h2{
    font-size: 50px;
}

#blog .textos p{
    font-size: 20px;
    font-family: poppinslight;
    line-height: 30px;
}

#blog .textos h3{
    font-size: 40px;
    line-height: 50px;
}

#blog .textos{
    margin-top: 0;
    width: 800px;
}

#linha-blog{
    width: 100%;
    height: 2px;
    background-color: #EB0029;
    margin-top: 60px;
}

.titulosecaoprodutos{
    font-family: poppinsbold ;
    font-size: 25px;
    margin-top: 30px;
}

#blog .subtitulosecaoprodutos{
    font-family: poppinsbold;
    width: 38%;
    font-size: 30px;
    color: black;
}

@media screen and (max-width: 1170px){
    #bloco img{
        display: none;
    }
    
    #formato{
        flex-wrap: wrap;
        justify-content: center;
    }

    #bloco{
        width: calc(50%-12px);
    }
}



@media screen and (max-width: 600px){
    #bloco{
        width: 100%;
    }

    #blog .textos{
        text-align: center;
    }
    .titulosecaoprodutos{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #blog .subtitulosecaoprodutos{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}

